
.menu-item:hover a {
    color: #1444EE;
}
.fill.menu-item:hover {
    background-color: #1444EE0F; 
}
.underline.menu-item:hover {
    background-color: #1444EE0F;
    border-bottom: 3px solid #1444EE;   
}
.menu-item {
    border-bottom: 3px solid white;   
}
.menu-item:hover .dropdown-menu a {
    color: #282828;
}
