html{
    margin: 0px !important;
}

#root{
    height:100vh;
}

#marginSetter {
    font-size: 14;
}

#firstRow{
    height: 40%;
}

#secondRow{
    height: 60%;
}

.h-395{
    height: 39%;
}

#h-37{
    height: 37%;
}

#h-568{
    height: 63%;
}