/* Important to note: <link> is likely better but needs to be added to .html file */

.menu-item:hover a {
    color: #1444EE;
}
.fill.drop-down:hover > button {
    color: #1444EE;
}
.underline.drop-down:hover > button {
    color: #1444EE;
}
button {
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #313131;
    
}
.drop-downmenu {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
}
.drop-downmenu a:last-child {
    
    border-radius: 0px 0px 5px 5px;
}
.drop-downmenu a {
    float: none;
    color: #282828;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    
    
}
.drop-downmenu .show {
    display: block;
}

.drop-downmenu .hide {
    display: none;
}
.fill.drop-downitem:hover {
    background-color: #EBF3FA;
   
}
.fill.drop-downitem:hover > a {
    font-weight: 700;  
}
.highlight.drop-downitem:hover > a {
    color: #1444EE;

}
.sidehighlight.drop-downitem {
    border-left: 8px solid white;
}
.sidehighlight.drop-downitem:hover {
    border-left: 8px solid #0071BC;
}